<section class="section">
    <div class="container">
        <%= simple_form_for @post do |f| %>
            <% if @post.errors.any? %>
                <% @post.errors.full_messages.each do |msg| %>
                    <div class="notification is-danger"><%= msg %></div>#modificat fara de Traversy Media cu clasa de bulma
                <% end %>
            <% end %>
            <div class="field">
            <div class="control">
                <%= f.input :title, input_html: {class: 'input'},wrapper:false,label_html: {class:'label'} %>
            </div>
            </div>
            <div class="field">
            <div class="control">
                <%= f.input :content, input_html: {class: 'textarea'},wrapper:false,label_html: {class:'label'} %>
            </div>
            </div>
            <%= f.button :submit, class: "button is-primary" %>
        <% end %>
    </div>
</section>